In [20]:
import pandas as pd

transaction = pd.read_csv("../data/sss/transaction21.csv", encoding='utf-8')
transaction.head()

     구       거래금액(만원)
0  강남구  207144.448980
1  서초구  205079.347411
2  용산구  199105.796031
3  송파구  154346.286920
4  성동구  144546.348684

In [3]:
school = pd.read_csv("../data/sss/school.csv", encoding='utf-8')
school.head()

   소재구  초등학교수
0  노원구     42
1  송파구     40
2  강서구     35
3  강남구     33
4  양천구     30

In [4]:
own_rate = pd.read_csv("../data/sss/own_rate.csv", encoding='utf-8')
own_rate.head()

    구별      합계      자가     자가율(%)
0  도봉구  127362   74507  58.500181
1  은평구  190631   99109  51.989970
2  노원구  202695  104051  51.333777
3  구로구  164083   83154  50.678011
4  양천구  166044   83149  50.076486

In [21]:
transaction.columns

Index(['구', '거래금액(만원)'], dtype='object')

In [23]:
transaction.sort_values(by='구', ascending=True, inplace=True)
transaction.set_index('구', drop=True, inplace=True)

transaction

           거래금액(만원)
구
강남구   207144.448980
강동구    93626.194037
강북구    66786.311230
강서구    79163.403564
관악구    72948.668005
광진구   119721.447721
구로구    62036.694633
금천구    59569.069767
노원구    67273.907743
도봉구    58481.827441
동대문구   77543.257840
동작구   111730.379377
마포구   116794.593090
서대문구   90762.613573
서초구   205079.347411
성동구   144546.348684
성북구    83987.360912
송파구   154346.286920
양천구   103119.236354
영등포구  101948.649895
용산구   199105.796031
은평구    73154.587302
종로구    92944.505495
중구     90108.240260
중랑구    64493.791641

In [25]:
school.sort_values(by='구', ascending=True, inplace=True)
school.set_index('구', drop=True, inplace=True)
school

      초등학교수
구
강남구      33
강동구      29
강북구      14
강서구      35
관악구      22
광진구      22
구로구      26
금천구      18
노원구      42
도봉구      23
동대문구     21
동작구      21
마포구      22
서대문구     19
서초구      24
성동구      21
성북구      29
송파구      40
양천구      30
영등포구     23
용산구      15
은평구      30
종로구      13
중구       12
중랑구      23

In [26]:
own_rate.rename(columns={'구별':'구'}, inplace=True)
own_rate

       구      합계      자가     자가율(%)
0    도봉구  127362   74507  58.500181
1    은평구  190631   99109  51.989970
2    노원구  202695  104051  51.333777
3    구로구  164083   83154  50.678011
4    양천구  166044   83149  50.076486
5    성북구  179660   87204  48.538350
6    강북구  129805   61818  47.623743
7   서대문구  133112   62799  47.177565
8    종로구   63414   28559  45.035797
9    중랑구  164832   73132  44.367599
10   서초구  156123   69254  44.358615
11  영등포구  162391   70461  43.389720
12   동작구  167766   71947  42.885328
13   강동구  177148   75712  42.739404
14  동대문구  150373   63107  41.966975
15   금천구  103432   43049  41.620582
16   강서구  244097  100998  41.376174
17   성동구  122186   48991  40.095428
18   마포구  160681   63825  39.721560
19   송파구  255766  100611  39.337128
20    중구   55093   21470  38.970468
21   광진구  152090   55756  36.659872
22   강남구  208833   76399  36.583777
23   용산구   95714   32638  34.099505
24   관악구  248959   78971  31.720484

In [27]:
own_rate.sort_values(by='구', ascending=True, inplace=True)
own_rate.set_index('구', drop=True, inplace=True)
own_rate

          합계      자가     자가율(%)
구
강남구   208833   76399  36.583777
강동구   177148   75712  42.739404
강북구   129805   61818  47.623743
강서구   244097  100998  41.376174
관악구   248959   78971  31.720484
광진구   152090   55756  36.659872
구로구   164083   83154  50.678011
금천구   103432   43049  41.620582
노원구   202695  104051  51.333777
도봉구   127362   74507  58.500181
동대문구  150373   63107  41.966975
동작구   167766   71947  42.885328
마포구   160681   63825  39.721560
서대문구  133112   62799  47.177565
서초구   156123   69254  44.358615
성동구   122186   48991  40.095428
성북구   179660   87204  48.538350
송파구   255766  100611  39.337128
양천구   166044   83149  50.076486
영등포구  162391   70461  43.389720
용산구    95714   32638  34.099505
은평구   190631   99109  51.989970
종로구    63414   28559  45.035797
중구     55093   21470  38.970468
중랑구   164832   73132  44.367599

In [29]:
yjs = transaction.merge(school, left_on='구', right_on='구')
yjs

           거래금액(만원)  초등학교수
구
강남구   207144.448980     33
강동구    93626.194037     29
강북구    66786.311230     14
강서구    79163.403564     35
관악구    72948.668005     22
광진구   119721.447721     22
구로구    62036.694633     26
금천구    59569.069767     18
노원구    67273.907743     42
도봉구    58481.827441     23
동대문구   77543.257840     21
동작구   111730.379377     21
마포구   116794.593090     22
서대문구   90762.613573     19
서초구   205079.347411     24
성동구   144546.348684     21
성북구    83987.360912     29
송파구   154346.286920     40
양천구   103119.236354     30
영등포구  101948.649895     23
용산구   199105.796031     15
은평구    73154.587302     30
종로구    92944.505495     13
중구     90108.240260     12
중랑구    64493.791641     23

In [30]:
yjs = yjs.merge(own_rate, left_on='구', right_on='구')
yjs

           거래금액(만원)  초등학교수      합계      자가     자가율(%)
구
강남구   207144.448980     33  208833   76399  36.583777
강동구    93626.194037     29  177148   75712  42.739404
강북구    66786.311230     14  129805   61818  47.623743
강서구    79163.403564     35  244097  100998  41.376174
관악구    72948.668005     22  248959   78971  31.720484
광진구   119721.447721     22  152090   55756  36.659872
구로구    62036.694633     26  164083   83154  50.678011
금천구    59569.069767     18  103432   43049  41.620582
노원구    67273.907743     42  202695  104051  51.333777
도봉구    58481.827441     23  127362   74507  58.500181
동대문구   77543.257840     21  150373   63107  41.966975
동작구   111730.379377     21  167766   71947  42.885328
마포구   116794.593090     22  160681   63825  39.721560
서대문구   90762.613573     19  133112   62799  47.177565
서초구   205079.347411     24  156123   69254  44.358615
성동구   144546.348684     21  122186   48991  40.095428
성북구    83987.360912     29  179660   87204  48.538350
송파구   154346.286920     40  255766  100611  39.337128
양천구   103119.236354     30  166044   83149  50.076486
영등포구  101948.649895     23  162391   70461  43.389720
용산구   199105.796031     15   95714   32638  34.099505
은평구    73154.587302     30  190631   99109  51.989970
종로구    92944.505495     13   63414   28559  45.035797
중구     90108.240260     12   55093   21470  38.970468
중랑구    64493.791641     23  164832   73132  44.367599

In [53]:

max_val = []
max_val.append(yjs.iloc[:,1].max())
max_val.append(yjs.iloc[:,2].max())
max_val[1]

255766

In [31]:
yjs.to_csv("../data/sss/yjs_merge.csv")